<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--JS de JQUERY-->
    <script src="/jquery/jquery.min.js"></script>
    <!--CSS de BOOTSTRAP-->
    <link rel="stylesheet" href="/bootstrapCSS/bootstrap.min.css">
    <!--CSS Propio-->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--FUENTES e ICONOS de GOOGLE-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Skaters</title>
</head>
<body>
    {{{body}}}


    <!--JS de AXIOS-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--JS de JQUERY-->
    <script src="/jquery/jquery.min.js"></script>
    <!--JS de BOOTSTRAP-->
    <script src="/bootstrapJS/bootstrap.min.js"></script>
    <!--JS propio-->
    <script src="/assets/js/script.js"></script>
</body>
</html>